* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{     /*setting body of extension*/
    height:20rem;
    width:22rem;
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    background: linear-gradient(to bottom, #4b4b4b, #1b1b1b); /* Dark grey to black gradient from top to bottom */
    

}
.container{
    display: flex;
    flex-direction: column;
    gap:1rem;
    align-items: center;
    
    
}
h1 {
    color: #fffff0; /* Ivory */
    font-size: 1.5rem;

}
.passbox{
    background-color: white;
    border: none;
    outline:none;
    padding: 5px;
    border-radius: 5px;
    width:19rem;
    height: 2rem;
    font-size: 1rem;
    font-weight: 700;
    margin-block: 0.5rem;
}

.custom-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%; /* Full width */
    height: 8px; /* Height of the slider track */
    background: linear-gradient(to right, #f9ca24, #e84118); /* Gradient background color */
    border-radius: 5px; /* Rounded corners */
    outline: none; /* Remove default focus outline */
    opacity: 0.7; /* Initial opacity */
    transition: opacity 0.4s; /* Transition for hover effect */
}

/* Styling the thumb (handle) for WebKit(chrome safari) browsers */
.custom-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; /* Width of the thumb */
    height: 20px; /* Height of the thumb */
    background-color: #fff; /* Color of the thumb */
    border-radius: 50%; /* Rounded shape */
    cursor: pointer; /* Cursor style */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Shadow for the thumb */
}
.custom-slider:hover {
    opacity: 1; /* Full opacity on hover */
}
.row{
    font-size:1rem;
    color: #fffff0; /* Ivory */
    display: flex;
    
    width:100%;
    justify-content: space-between;
}
.row input[type="checkbox"]{
    width:15px;
    height:15px;
}
.passwlen{
    font-weight: 600;
}

.genbut{
    background-color: #ffffff;
    color: #008080; /* Teal text */
    border: 2px solid #008080; /* Teal border */
    height:3rem;
    width:19rem;
    font-size: 1rem;
    font-weight: 550;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.genbut:hover {
    background-color: #008080; /* Teal background on hover */
    color: #ffffff; /* White text on hover */
}

.genbut:active {
    background-color: #ffa500; /* Orange background on click */
    border-color: #ffa500; /* Orange border on click */
    color: #ffffff; /* White text on click */
}

.inputbox{
    position: relative;
}
.inputbox span{
    position:absolute;
    top:11px;
    right:5px;
    padding: 1px;
    cursor: pointer;
}
.hidden{
    visibility: hidden;
}